@media only screen and (min-width : 0px){
    body {
        font-family: 'Lato', sans-serif;
        margin: 15px;
        font-weight: 300;
      }
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 4em;
        margin: 40px 20px 45px 0px;
        width: 60vw;
      }
   h2 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4em;
        margin-top: 15px;
        width: 100vw;

      }
      h3 {
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 7px;
        margin-bottom: -15px;
      }
      h4 {
        font-weight: 400;
        margin-bottom: -10px;
      }
      h5 {
        font-weight: 400;
      }

    h3, h4, h5, p {
        margin-left: 20px;
      }

    nav {
      display: block;
      width: 40vw;
    }

    nav ul {
      position: absolute;
      top: 18px;
      right: 20px;
    }
    nav ul li {
      margin: 0 8px;
      font-size: 1.2em;
      font-weight: 700;
      display: inline-block;
      }

      nav ul li a:link {
        text-decoration: none;
        color: black;
        border-bottom: 2px solid;


      }
      nav ul li a:visited {
        color: black;
      }
      nav ul li a:hover {
        border-bottom: 5px solid #0e08f9;
      }
      nav ul li a:active {
        color: #0e08f9;
      }

      .profilepic {
        height:300px;
        width: 300px;
        background-image: url(./images/pic.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px auto;
      }

      ul {
        list-style-type: none;
      }




      div {
        line-height: 1.1em;
      }

      span {
        font-weight: 400;
        text-transform: none;
        font-size: 0.8em;
        float: right;
      }


      .extraspacing {
        height: 7px;
      }

      .blue {
        width: 17px;
        height: 17px;
        background-color:#0e08f9;
        float: left;
        margin-right: 3px;
      }


      .container {
        max-width: 900px;
        margin: 0 auto;
      }

  }



