
body {
	font-family: 'Montserrat', serif;
}
h1, h2,h3, p {
	width: 80vw;
	margin: 0 auto;
}
h1 {
  margin-top: 60px;
}
h2 {
  margin-bottom: 15px;
}
h5 {
  font-weight: 300;
  color: red;
  margin-bottom: 0;
}
h3 {
  margin-bottom: 10px;
}

p {
	text-indent: 20px;
  margin-top: 3px;
  font-size: 1.1em;
}
.state:hover {
	opacity: 0.2;
}
#map {
	margin-bottom: 40px;
}
.footnote {
  opacity: 0.8;
}
div.tooltip { 
  position: absolute;     
  padding: 2px 10px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;        
  pointer-events: none;    
  box-shadow: 2px 2px 5px "#000";
  margin: 0px; 
  width: 270px;
}

.tooltip p {
	width: auto;   
	margin: 0px; 
	padding: 10px 2px 2px 2px;
	text-align: left;       
     
}

#scatter {
  width: 80vw;
    min-width: 200px;
  max-width: 1200px;
  /*margin-left: 10vw;*/
}
.tablebtn {
  width: 140px;
  margin: 0 40vw;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
  padding: 5px;
  font-size: 14px;
  display: block;

}

#legend{
  margin-bottom: 10px;
}

/* Table Styling */
table { 
  width: 75vw;

  margin: 40px auto 20px auto;
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

th.des:after {
    content: "\21E9";
}
  
th.aes:after {
  content: "\21E7";
}
.spacer {
  height: 40px;
}
 
  

