body {
   font-family: /*'Grinched 2.0',*/'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 400;

}

button {
  background-color: transparent; /* Green */
  border-color: black;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none;
}
button:hover {
  background-color: darkgreen;
  color:white;
  border-color: none;
}
.btngroup{
  width: 350px;
  margin: 0 auto 50px auto;
}

.content {
	min-width: 150px;
	width: 80vw;
	margin: 0 auto;

}

.tooltip {
  color: white;
  width: 100px;
  height: 60px;
  font: 12px sans-serif;
  background: darkblue;
  border: 0px;
  border-radius: 8px;
  margin: 0;
}

.area {
	margin: 0 0 0 50px;
}


h1 {
   font-family: 'Henny Penny','Garamond', serif;
	margin-top: 40px;
  font-size: 3em;
}
p {
  font-size: 1.2em;
}
.node circle {
  fill: #fff;
 /* stroke: steelblue;
  stroke-width: 3px;*/
}

.node text {
  font-size: 12px ;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.noded circle {
  fill: #fff;
 /* stroke: steelblue;
  stroke-width: 3px;*/
}

.noded text {
  font-size: 12px ;
}

.linkd {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
img {
  height: auto;
  width:180px;
   display: block;
    float: left;
    margin-right: 10px;
}
.legend p {
  padding-top: 2px;
  font-family: 'Henny Penny', sans-serif;
  letter-spacing:0.5px;
}
.legend{
  height: 60px;
  margin: 0 auto;
  display: block;
  width: 350px;
  /*text-align: center;*/
}
.spacer {
  height: 200px;
}

